.app > .main-container > .content-container {
	margin-left: 0px !important;
}

.font-openSans {
  font-family: 'Open Sans', sans-serif;
} 

.font-ptSans {
  font-family: 'PT Sans', sans-serif;
}

.font-bold-800 {
  font-weight:800;
}

.font-bold-600 {
  font-weight:600;
}

.header-btn {
  margin-top: 10px;
  margin-right: 10px;
  background: #EFEFEF;
  color: #607D8B;
  padding: 5px;
  text-transform: uppercase;
  outline: none;
}

.btn {   
    outline: none !important;
}

.card-rating {
  float: right;
  /*background-color: #777777;*/
  padding: 5px;
  /*border-radius: 5px;*/
  color: #607D8B;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.padding-card-action {
  padding-bottom: 8px;
  padding-right: 16px;
}

.margin-card-action{
  margin-right:10px;
}

.action-circle-button-success, .action-circle-button-info, .action-circle-button-reject, .action-circle-button-bookmark {
  background-color: #A5A5A5 !important;
  color: #FFFFFF !important;
  border: none !important;
  transition:0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5;
}

.action-circle-button-success:hover {
  background-color: #009688 !important;
}

.action-circle-button-info:hover {
  background-color: #2196F3 !important;
}

.action-circle-button-reject:hover {
  background-color: #F44336 !important;
}

.action-circle-button-bookmark:hover {
  background-color: #3F51B5 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.pa-top12 {
  padding-top:12px !important;
}

.pa-bot0 {
  padding-bottom: 0px !important;
}

.pa20 {
  padding:20px !important;
}

.pa25-side {
  padding-left:25px !important;
  padding-right:25px !important;
}

.pa15-top {
  padding-top:15px !important;
}

.pa15-right {
  padding-right:15px !important;
}

.ma5-top {
  margin-top: 5px !important;
}

.ma12-top {
  margin-top: 12px !important;
}

.ma15-btm {
  margin-bottom: 15px !important;
}

.header-container {
  box-shadow: none !important;
}

img.img100_100 {
  width: 100px;
  height: 100px;
}

.action-circle-button:hover {
  border:none !important;
}

.social-loan-rqst-fb, .social-loan-rqst-twitter, .social-loan-rqst-google {
  background-color: #BBBBBB !important;
  color: #ffffff !important;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
}

.social-loan-rqst-fb:hover {
  background-color: #294279 !important;
}

.social-loan-rqst-twitter:hover {
  background-color: #00a6ce !important;
}

.social-loan-rqst-google:hover {
  background-color: #ca3522 !important;
}

.marketplace-td {
  padding:5px !important;
  font-size:12px !important;
  /*font-weight:600 !important;*/
}

.page-header-lg {
  font-size: 20px;
  line-height: 40px;
  color: #607D8B;
  margin: 0 0;
  text-align: center;
  font-weight: 600;
  font-family: 'PT Sans', sans-serif;
}

.page {
  padding: 5px 30px !important;
}

.md-card-hover {
  transition:0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
}

.md-card-hover:hover {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
}

.width-50 {
  width: 50% !important;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5;
}

.width-100 {
  width: 100% !important;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5;
}

.text-center {
  text-align:center;
}

.loan-card-stats-rqst {
  min-height: 0px !important;
  padding: 10px !important;
  text-align: center;
  margin-bottom: 0px !important;
  box-shadow: 0 0 3px rgba(0,0,0,0.2) !important;
  background: #f5f5f5 !important;
}

.loan-card-stats-detail {
  color: #6c6c6c !important;
}

.size-h2-card{
  font-size:20px;
}

.btn-accept, .btn-reject, .btn-bookmark{
  position: relative;
  color: #607D8B;
  background: 0 0;
  font-size: 14px;
  cursor: pointer;
  vertical-align: bottom;
  box-sizing: border-box;
  letter-spacing: 0;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  height: 30px;
  padding: 0 10px;
  border: 1px solid #cacaca;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 3px;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  outline: 0;
  text-transform: uppercase;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
}



/************ md-toolbar property ***********************/

md-toolbar {
  background-color: #00BCD4 !important;
  min-height: 45px !important;
  height: 45px !important;
}

.md-toolbar-tools {
  font-family: 'PT Sans', sans-serif !important;
  font-size: 18px !important;
  display: block;
}

/************* md-toolbar property **********************/

/************ slide-in slide-out page *******************/
/************ slide-in slide-out page *******************/

.slide-in {
    transition:0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    right:50%;
    min-width:50%;
    min-height: calc(100% - 50px) !important;
    height:calc(100% - 50px) !important;
    top:50px;
  }
  .slide-out {
    transition:0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    right:0%;  
    min-width:0%;
    top:50px;
  }

.overlay-card-info{
  position: absolute;
  /*top: 0px;*/
  z-index: 4;
  right:0px !important;
  background-color: #ffffff;
  width: 0%;
  min-height: calc(100% - 50px) !important;
  height:calc(100% - 50px) !important;
  background: #ffffff !important;opacity:1; overflow-x: hidden;
}

.overlay-card-block {
  height: calc(100% - 50px) !important;
  position: absolute !important;
  min-height: calc(100% - 50px) !important;
  overflow: scroll !important;
}

.media-heading-p {
  font-size: 12px !important;
  margin-bottom: 0px !important;
}

.media-heading-p-page {
  font-size: 12px !important;
  margin-bottom: 5px !important;
}

.media-head-title {
  font-size:16px !important;
}

.media-head-title-page {
  font-size:18px !important;
  margin-top: 0px !important;
}

.btn-icon25 {
  padding: 0;
  display: inline-block;
  text-align: center;
  border-radius: 2px;
  height: 20px;
  width: 20px;
  line-height: 20px;
}

.btn-icon25 i {
  line-height: 20px;
}

.btn-icon-round25 {
  border-radius:4px;
}

.close-loan-rqst {
  float: left;
  margin-top: 12px;
}

.overlay-filter-info{
  position: absolute;
  top: 0px;
  z-index: 4;
  left:0px !important;
  background-color: #ffffff;
  width: 0%;
  max-height: 100% !important;
  height:100% !important;
  background: #ffffff !important;opacity:1;
}

.slide-in-left {
    transition:0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    left:25%;
    min-width:25%;
  }
.slide-out-left {
    transition:0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    left:0%;  
    min-width:0%;
  }

.filter-marketplace {
  background: #ffffff;
  padding:10px;
}

.fl-left {
  float: left;
}

.filter-title {
  font-size: 16px;
  color: #848282;
  cursor: pointer;
}


/************ slide-in slide-out page ******************
/************ slide-in slide-out page *******************/

.animate-if.ng-enter {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.35s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}


/**********md-dialog-action material css ****************/
/**********md-dialog-action material css ****************/

md-dialog.md-content-overflow .md-actions, md-dialog.md-content-overflow md-dialog-actions {
  border-top-width: 1px;
  border-top-style: solid;
}

md-dialog.md-default-theme.md-content-overflow .md-actions, md-dialog.md-content-overflow .md-actions, md-dialog.md-default-theme.md-content-overflow md-dialog-actions, md-dialog.md-content-overflow md-dialog-actions {
  border-top-color: rgba(0,0,0,0.12);
}

md-dialog .md-actions, md-dialog md-dialog-actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  box-sizing: border-box;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 0;
  padding-right: 8px;
  padding-left: 16px;
  min-height: 52px;
  overflow: hidden;
}

/**********md-dialog-action material css ****************/
/**********md-dialog-action material css ****************/

/********** md-card latest material css ****************/
/********** md-card latest material css ****************/

md-card md-card-header {
  padding: 16px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}



md-card md-card-header:first-child md-card-avatar {
  margin-right: 12px;
}
md-card md-card-header md-card-avatar {
  width: 50px;
  height: 40px;
}
md-card md-card-header md-card-avatar .md-user-avatar, md-card md-card-header md-card-avatar md-icon {
  border-radius: 50%;
}
md-card md-card img, md-card>:not(md-card-content) img {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
}

md-card md-card-header md-card-avatar+md-card-header-text {
  max-height: 40px;
}
md-card md-card-header md-card-header-text {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

md-card md-card-header md-card-avatar+md-card-header-text .md-title {
  font-size: 16px;
  margin-bottom:12px;
  font-weight:600;
}
.md-title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: .005em;
}

md-card md-card-header md-card-header-text .md-subhead {
  font-size: 12px;
  padding-top: 6px;
  color: rgba(0,0,0,0.7);
}
<style>…</style>md-card.md-default-theme md-card-header md-card-header-text .md-subhead, md-card md-card-header md-card-header-text .md-subhead {
  color: rgba(0,0,0,0.54);
}
.md-subhead {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .010em;
  line-height: 24px;
}

md-card md-card-title {
  padding: 24px 16px 16px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

md-card md-card-title md-card-title-text {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.md-headline {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

md-card md-card-title md-card-title-text:only-child .md-subhead {
  padding-top: 12px;
}
md-card md-card-title md-card-title-text .md-subhead {
  padding-top: 0;
  font-size: 14px;
}
.md-subhead {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .010em;
  line-height: 24px;
}

/********** md-card latest material css ****************/
/********** md-card latest material css ****************/


