<div class="font-openSans">
    <div class="row ui-section">
        <div class="col-lg-12">
        	<div class="media">
                <a class="media-left pa15-right">
                    <img alt="" src="https://pbs.twimg.com/profile_images/3493236003/9807650ede9d554edb75b69e1f8d1dea.jpeg" class="img-circle img100_100">
                </a>
                <div class="media-body">
                    <h4 class="media-heading media-head-title-page">Swapnil Saurav</h4>
                    <p class="media-heading-p-page"><i class="fa fa-star" tooltip-placement="bottom" uib-tooltip="Location" tooltip-append-to-body="true"></i> 4.5</p>
                    <p class="media-heading-p-page"><i class="fa fa-map-marker" tooltip-placement="bottom" uib-tooltip="Location" tooltip-append-to-body="true"></i> Bangalore</p>
                    <p class="media-heading-p-page"><i class="fa fa-briefcase" tooltip-placement="bottom" uib-tooltip="Job" tooltip-append-to-body="true"></i> Software Developer</p>
                    <p class="media-heading-p ma5-top">
                    	<div class="profile-social ma5-top">
					        <a href="javascript:;" class="btn-icon25 btn-icon-round25 btn-facebook social-loan-rqst-fb"><i class="fa fa-facebook"></i></a>
					        <a href="javascript:;" class="btn-icon25 btn-icon-round25 btn-twitter social-loan-rqst-twitter"><i class="fa fa-twitter"></i></a>
					        <a href="javascript:;" class="btn-icon25 btn-icon-round25 btn-google social-loan-rqst-google"><i class="fa fa-google"></i></a>
					    </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-12 pa15-top">
        	<div class="row ma15-btm">
		        <div class="col-md-4">
		            <div class="panel mini-box loan-card-stats-rqst">
		            <div class="box-info">
		                <p class="size-h2-card">93</p>
		                <p class="text-muted loan-card-stats-detail">Loan Request</p>
		            </div>
		            </div>                    
		        </div>
		        <div class="col-md-4">
		            <div class="panel mini-box loan-card-stats-rqst">
		            <div class="box-info">
		                <p class="size-h2-card">63</p>
		                <p class="text-muted loan-card-stats-detail">Loans Approved</p>
		            </div>
		            </div>                    
		        </div>
		        <div class="col-md-4">
		            <div class="panel mini-box loan-card-stats-rqst">
		            <div class="box-info">
		                <p class="size-h2-card">55</p>
		                <p class="text-muted loan-card-stats-detail">Loan Returned</p>
		            </div>
		            </div>
		        </div>
		    </div>
    	</div>
    	<div class="col-md-12">
    		<div class="table-responsive">
                <table class="table table-striped table-bordered no-margin">
                    <tbody>
                    <tr>
                        <td>Loan Amount</td>
                        <td><i class="fa fa-inr"></i> 2,00,000</td>
                    </tr>
                    <tr>
                        <td>Interest</td>
                        <td>6 %</td>
                    </tr>
                    <tr>
                        <td>Tenure</td>
                        <td>15 months</td>
                    </tr>
                    <tr>
                        <td>Purpose</td>
                        <td>Family</td>
                    </tr>
                    </tbody>
                </table>
            </div>
    	</div>
    	<div class="col-md-12 pa15-top">
    		<md-card-actions layout="row" layout-align="center start" class="padding-card-action">
                    <button class="btn-accept margin-card-action" tooltip-placement="bottom" uib-tooltip="Accept Loan" tooltip-append-to-body="true" ng-click="$event.stopPropagation();rejectLoan($event)">Accept</button>
                    <button class="btn-bookmark margin-card-action" tooltip-placement="bottom" uib-tooltip="Bookmark" tooltip-append-to-body="true" ng-click="$event.stopPropagation();rejectLoan($event)">Bookmark</button>
    				<button class="btn-reject margin-card-action" tooltip-placement="bottom" uib-tooltip="Reject Loan" tooltip-append-to-body="true" ng-click="$event.stopPropagation();rejectLoan($event)">Reject</button>
    				
    				
                </md-card-actions>
    	</div>
    </div>
</div>